.container.blog-post{
    margin-top: 5%;
    margin-bottom:5%;

}

.blog-post-img{
    height:auto;
    width:100%;
    float:left;
    margin-right:5%;
    margin-bottom: 1rem;
}
.blog-post.container{
    display:flex;
    flex-direction:column;
    margin-bottom: 2rem;
    justify-content: center;
    line-height: 20pt;
    
}